{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>بازی مافیا | صفحه اصلی</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">
  <link href="{% static 'coffeeshops/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'coffeeshops/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'coffeeshops/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <header id="header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
          <aside id="sidebar">
            <div class="sidebar_content sidebar_head">
              <img src="{% static 'coffeeshops/img/logo.jpg' %}" alt="">
            </div>

            <div class="sidebar_content sidebar_body">
              <nav class="side_navlinks">
                <ul>
                  <li><a href="index.html">صفحه اصلی</a></li>
                  <li><a href="{% url 'coffeeshops_list' %}">لیست کافه‌ها</a></li>
                  <li><a href="#">درباه ما</a></li>
                  <li><a href="#">مقالات</a></li>
                </ul>
              </nav>
            </div>
          </aside>

          <div class="sidebar_toggler">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <form class="search-form d-none d-lg-block">
          <div class="inner-form">
            <div class="input-field first-wrap">
              <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                  </path>
                </svg>
              </div>
              <input id="search" type="text" placeholder="جستجو کنید ..." />
            </div>
            <div class="input-field second-wrap">
              <button class="btn-search" type="button">جستجو</button>
            </div>
          </div>
        </form>
        <div class="custom-btn">
          <a href="{% url 'user_login' %}">
            <i class="fa fa-sign-in"></i>
            <span> ورود یا ثبت نام </span>
          </a>
        </div>
      </div>
    </div>
  </header>

  <main id="main">
    <section id="home">
      <div class="banner">
        <div class="wellcome-area">
          <div class="wellcome-area-content">
            <h1> بازی گروهی مافیا در شیراز </h1>
            <p class="pt-4"> بازی جذاب و گروهی مافیا را در جمع دوستانه خود بازی کنید </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="{% static 'coffeeshops/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'coffeeshops/js/main.js' %}"></script>

</body>

</html>