{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ورود | ثبت نام</title>
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">
  <link href="{% static 'coffeeshops/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'coffeeshops/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'coffeeshops/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <section>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form method="post" action="{% url 'user_login' %}" class="form-login">
            {% csrf_token %}
            <h3>ثبت نام | ورود</h3>
    
            <label for="mobile" class="form-lable">شماره موبایل خود را وارد نمایید:</label>
            <input type="text" class="login-input text-center" id="mobile" name="phone_number" autocomplete="off" placeholder="09 *** ** **" maxlength="17">
             <label for="password" class="form-lable">رمز عبور خود را وارد نمایید:</label>
            <input type="text" class="login-input text-center" id="password" name="password" autocomplete="off" placeholder="*** ** **" maxlength="11">
{#        {{ form }}#}
            <button type="submit" class="btn-login">ورود</button>
            <a href="index.html" class="d-block text-center pt-3"> بازشگت به صفحه اصلی </a>
        </form>
    </section>

</body>

</html>